.home{
    height: 920px;
    background-image: url(../img/table_laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home h1{
    color: white; 
    text-align: center;
    position: relative;
    top: 350px;
    font-size: 775%; 
    margin: 0;
} 

.content h2{
    text-align: center;
    width: 100%;
    color: #FFF8F2;
    background-color: #759C89;
    margin: 0;
    padding: 20px 0;
    font-weight: bold;
    font-size: 300%;
}

.content p{
    text-align: center;
    overflow-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5em;
}

.about{
    display: flex;
    gap: 70px;
    margin: 80px auto;
    width: 75%;
}

.about-text {
    flex: 1 1 auto;
    margin: 0;
    align-self: center;
}

.about img{
    flex: 1 1 0;
    width: 30%;
    margin: auto auto;  
    border-radius: 10%;
}

.about p{
    font-size: 110%;  
}

.projects{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    row-gap: 50px;
    margin: 40px 100px;
}

.projects-item{
    text-align: center;
}

.projects-item img{
    width: 400px;
    border-radius:10%;
}

.projects-item p{
    width: 80%;
    margin: auto;
    height: 150px;
}

.projects button{
    width: 40%;
    height: 50px;
    background-color:#D9B49E;
    color: #FFF8F2;
    border-radius: 10px;
    border-color: #D9B49E;
    font-size: 110%;
    font-family: var(--font-sans);
}

.projects button:hover{
    cursor: pointer;
}

.projects h3 img{
    width: 15px;
}

.contact{
    display: flex;
    gap: 20px;
    padding: 20px;
    width: 30%;
    margin: auto auto;
}

.contact-item{
    flex: 1 1 0;
    text-align: center;
}

.section:nth-child(3) {
    background-color:#759C89;
    color:#FFF8F2;
}

.content a:link {
    color: #FFF8F2;
    background-color: transparent;
    text-decoration: none;
}

.content a:visited {
    color: #FFF8F2;
    background-color: transparent;
    text-decoration: none;
}

.content a:hover {
    color: #D9B49E;
    background-color: transparent;
    text-decoration: none;
}

.content a:active {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

.footer{
    text-align: center;
}

/* Large devices (1201px to 1500px) */
@media only screen and (max-width: 1500px) {
    .projects{
        grid-template-columns: auto auto;
    }
}

/* Large devices (993px to 1200px) */
@media only screen and (max-width: 1200px) {
    .about{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .about img{
        width: 50%;
    }
    .projects{
        grid-template-columns: auto;
    }
    .projects-item{
        display: flex;
        gap: 10px;
    }
    .item-img {
        flex: 0 1 30%; 
    }
    .item-text {
        flex: 0 1 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }
    .item-text h3 {
        margin: 10px 0;
    }
    .item-img img{
        width: 100%;
    }
    .item-text p{
        width: 95%;
        height: auto;
    }
    .projects button{
        height: 40px;
        font-size: 100%;
    }
}

/* Medium devices (landscape tablets, 769px to 992px) */
@media only screen and (max-width: 992px) {
    .about img{
        width: 350px;
    }
    .projects{
        grid-template-columns: auto;
        margin: 40px 40px;
    }
    .item-img {
        flex: 0 1 36%; 
    }
    .item-text {
        flex: 0 2 64%;
    }
    .projects button{
        height: 35px;
        font-size: 90%;
    }
}

/* Small devices (portrait tablets and large phones, 577px to 768px) */
@media only screen and (max-width: 768px) {
    .projects-item{
        display: block;
    }
    .projects-item img{
        width: 300px;
    }
    .projects-item p{
        width: 80%;
    }
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
    .about img{
        width: 90%;
    }
    .projects-item img{
        width: 70%;
    }
    .projects-item p{
        width: 90%;
    }
}