body{
    margin: 0;
    padding: 0;
    background-color: #E8D4C6;
}

nav ul{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 40px;
}

nav li{
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    list-style: none;
    color: #fdffee;
}

.logo img{
    position: fixed;
    top: 20px; /**60px to avoid header**/
    width: 5%;
}

nav a:link {
    color: #fdffee;
    background-color: transparent;
    text-decoration: none;
}

nav a:visited{
    color: #fdffee;
    background-color: transparent;
    text-decoration: none;
}

nav a:hover {
    color: #D9B49E;
    background-color: transparent;
    text-decoration: none;
}

.home{
    height: 920px;
    background-image: url(img/table_laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.home h1{
    color: white; 
    text-align: center;
    position: relative;
    top: 350px;
    font-size: 775%; /**125px**/
    margin: 0;
    /**
    font-family: Brush Script MT, Brush Script Std, cursive;
    **/
}    

.content{
    margin: 50px;
}    
/**
    display: flex;
    flex-direction: column;
    gap: 40px;
.about, .projects, .contact{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;   
} 
**/





.content h2{
    text-align: center;
    width: 100%;
    color: #CDD5C6;
    background-color: #759C89;
    margin: 0;
    padding: 20px 0;
}
/**
flex: 2 1 auto;
.content div{
    flex: 1 1 auto;
}    
.about img{
    width: 100%
}
**/


.content p{
    text-align: center;
}

.about p{
    overflow-wrap: break-word;
    display: inline-block;
    margin-right: 150px;
}

.about img{
    width: 300px;
    height: 400px;
    margin: 10px 150px;
    float: left;
}
