*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-color: #E8D4C6;
}

nav ul{
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 40px;
}

nav li{
    font-family: "Fjalla One", sans-serif;
    font-weight: bold;
    list-style: none;
    color: #fdffee;
}

.logo img{
    position: fixed;
    top: 20px; /**60px to avoid header**/
    width: 5%;
}

nav a:link {
    color: #fdffee;
    background-color: transparent;
    text-decoration: none;
}

nav a:visited{
    color: #fdffee;
    background-color: transparent;
    text-decoration: none;
}

nav a:hover {
    color: #D9B49E;
    background-color: transparent;
    text-decoration: none;
}
